<div class="wrap-right-menu">

  <div class="top-menu">
    <div class="option-top-menu active">
      Профиль
    </div>
  </div>

  <div class="user-block">
    <div class="wrap-avatar-user">
      <div class="avatar-user">
        <img src="/assets/img/default-avatar.png" alt="">
      </div>
    </div>
    <div class="wrap-name-user">
      Лена Головач
    </div>

    <div class="wrap-balance">
      <div class="balance">
        <div class="balance-title">
          Баланс
        </div>
        <div class="balance-num">
          {{portfolioService.getFreeMoney()}}$
        </div>
      </div>
    </div>
    <div class="balance-add-button">
      <button (click)="addBalance(100)">Пополнить баланс</button>
    </div>

  </div>

</div>
